*{
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    font-family: sans-serif;
}
#nav_drawer{
    background-color: aquamarine;
    width: 200px;
    height: 265px;
    padding-top: 2rem;
    text-align: center;
}

.li-1{
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgb(90, 85, 95);
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    color: aliceblue;
}

.li-2,
.li-3,
.li-4,
.li-5{
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgb(90, 85, 95);
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    color: aliceblue;
}

li:hover{
    background-color: green;
    color: yellow;
}

.button{
   border: solid red 2px;
}

h3{
    display: inline;
    font-size: 16px;
}

img{
    width: 30px;
    height: 30px;
}

 button{
     margin: 8px;
     width: 37px;
     height: 37px;
     
 }

 .botones {
     margin-left: 70%;
 }

 .image-perfil{
     width: 120px;
     height: 120px;
     border-radius: 50%;
 }

 section{
     text-align: center;
     background-color: antiquewhite;
     width: 70%;
     margin: auto;
 }
